.slideshow-container {
    position: relative;
    
  }
  
  .slide img {
    max-width: 200%;
    height: auto;
  }
  
  .mission{
   background-image: linear-gradient(45deg,rgb(99, 2, 99),purple,pink );
   color: white;
  }
  /* .footer{
    background-image: linear-gradient(135deg,black,grey );
    color: white
  } */