.be-noevents1{
    border-radius: 10px;
  height: 30%;
  width:25%;
  margin-bottom: 10px;
  margin-top: 9px;
}


 .tab {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 15px;
    white-space: nowrap;
    width: 1285px;
    /* max-width: 80%; */
    margin-left: 105px;
    table-layout: auto;
    /* overflow-x: auto; */
    /* width: 50%;
    border-collapse: collapse;
    margin-top: 200px;
    height: 10px;
    margin-left: 200px; */
}

.td {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 13px;
    padding-top: 13px;
    background-color: #ffffff;
    text-align: center;
    color: #000;
}

.th {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: #a4a4a4;

  }
 .tab5 {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 15px;
    white-space: nowrap;
    width: 728px;
    /* max-width: 80%; */
    margin-left: 385px;
    table-layout: auto;
    /* overflow-x: auto; */
    /* width: 50%;
    border-collapse: collapse;
    margin-top: 200px;
    height: 10px;
    margin-left: 200px; */
}

.td5 {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffffff;
    text-align: center;
    color: #000;
}

.th5 {
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: #a4a4a4;

  }
 .tab6 {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 15px;
    white-space: nowrap;
    width: 763px;
    /* max-width: 80%; */
    margin-left: 391px;
    table-layout: auto;
    /* overflow-x: auto; */
    /* width: 50%;
    border-collapse: collapse;
    margin-top: 200px;
    height: 10px;
    margin-left: 200px; */
}

.td6 {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffffff;
    text-align: center;
    color: #000;
}

.th6 {
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: #a4a4a4;

  }
.ve-img1{
  height: 35px;
  padding-top: 5px;
  /* padding-left: 10px; */
  padding-right: 1px;
  cursor: pointer;
}
.ve-img2{
  height: 33px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 1px;
  cursor: pointer;
}
.ve-img111{
  height: 35px;
  padding-top: 5px;
  /* padding-left: 10px; */
  padding-right: 1px;
  cursor: pointer;
}
.ve-img211{
  height: 33px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 1px;
  cursor: pointer;
}
.con
{
    background-color: rgb(28, 209, 28);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    
}
.re
{
    background-color: rgba(255, 0, 0, 0.776);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .pe{
  background-color: rgb(255, 251, 0);
  height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
